<h1>Flight Search</h1>
<form name="flightSearch">
    <input type="text" name="from" placeholder="From" class="airport-typeahead" />
    <input type="text" name="to" placeholder="To" class="airport-typeahead" />
    <input type="text" name="date" placeholder="Date: DD/MM/YY" />
    <input type="submit" value="Search" />
</form>

<div id="search-results">
    <ul>
        <li>- 2 day</li>
        <li>- 1 day</li>
        <li class="active">day</li>
        <li>+ 1 day</li>
        <li>+ 2 day</li>
    </ul>
    <div class="result active">
        <span class="column">
            airline <br>
            flight no
        </span>
        <span class="column">
            from: <br>
                airport name <br>
                city code <br>
                time
        </span>
        <span class="column">
            to: <br>
                airpot name <br>
                city code <br>
                time
        </span>
        <span class="column">
            price <br>
            duration <br>
            plane short name
        </span>
    </div>
</div>

<!-- search results -->
<!--
<script id="entry-template" type="text/x-handlebars-template">
</script>-->
