<h1>Flight Search</h1>
<form name="flightSearch">
    <input type="text" name="from" placeholder="From" class="airport-typeahead" />
    <input type="text" name="to" placeholder="To" class="airport-typeahead" />
    <input type="text" name="date" placeholder="Date: DD/MM/YY" />
    <input type="submit" value="Search" />
</form>

<div id="search-results">
    <ul>
    </ul>
    
</div>

<!-- search results -->
<script id="result-template" type="text/x-handlebars-template">
    <div class="result active">
        <span class="column">
            {{airline.name}} <br>
            {{airline.code}}
        </span>
        <span class="column">
            from: <br>
                {{start.airportName}} <br>
                {{start.airportCode}} <br>
                {{start.dateTime}}
        </span>
        <span class="column">
            to: <br>
                {{finish.airportName}} <br>
                {{finish.airportCode}} <br>
                {{finish.dateTime}}
        </span>
        <span class="column">
            {{price}} <br>
            {{durationMin}} <br>
            {{plane.shortName}}
        </span>
    </div>
</script>
