<h1>Flight Search</h1>
<form name="flightSearch">
    <input type="text" name="from" placeholder="From" />
    <input type="text" name="to" placeholder="To" />
    <input type="text" name="date" placeholder="Date: DD/MM/YY" />
    <input type="submit" value="Search" />
</form>
