
body {
    font-family: sans-serif;
    background: #F2FBFF;
    color: #333;
    margin: 0;
}

h1 {
    text-align: center;
}

#site-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

/* Form */

/* Typeahead */
.tt-menu {
    background: #FFF;
    .tt-selectable {
        cursor: pointer;
        width: 300px;
        &:hover {
            background: #47AFF5
        }
    }
}

/* Search Result */
#search-results {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            width: 19%;
            text-align: center;
            padding: 20px 0;
            &.active {
                background-color: #C4E1F5;
            }
        }
    }
    .result-container {
        display: none;
        &.active {
            display: block;
        }
    }
    .result {
        background-color: #C4E1F5;
        border-bottom: 1px solid #646464;
        font-size: 12px;
        padding: 20px 0 5px;
        .column {
            display: inline-block;
            width: 24%;
        }
    }

}

@media screen and (max-width: 600px) {
    form {
        input {
            width: 100%;
        }
    }
    #search-results {
        ul {
            li {
                display: block;
                width: 100%;
            }
        }
        .result {
            .column {
                display: block;
                width: 100%;
            }
        }
    } 
}