
body {
    font-family: sans-serif;
    background: #F2FBFF;
    color: #333;
}

#site-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

#search-results {
    .result {
        border-bottom: 1px solid #646464;
        font-size: 12px;
        padding: 20px 0 5px;
        .column {
            display: inline-block;
            width: 24%;
        }
    }
}